@charset 'utf-8';

body, html {font-family: 'GongGothic'; font-weight: 100; color:#000;box-sizing: border-box;}

#wrap {
	/* iPhone 가로 스크롤 방지 */
	width: 100%;
	overflow-x: hidden;
}
.br_m {display: none;}
.br_p {display: block;}
@media screen and (max-width:767px){
	.br_m {display: block;}
	.br_p {display: none;}
}

/* ----------------------------------------------- */
.floating_widget {position: fixed;bottom: 43px; right: 110px;z-index: 1000;animation: floating 2.5s ease-in-out infinite;}
.floating_widget img:last-child {display: none;}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.fp-section  { }
.section-tb {width: 100%;height: 100vh;display: table; }
.section-tb .center {display: table-cell; vertical-align: middle;}
.section-tb .inner {max-width: 1440px;width: 100%;text-align: center;margin: 0 auto;}

@media screen and (max-width:767px){
	.floating_widget {bottom: 35px;right: 31px;}
	.floating_widget img:first-of-type {display: none;}
	.floating_widget img:last-of-type {display: block;width: 175px;}
}

 
.section3 {background: #2589c9; width: 100%;height: 100%;display: flex;align-items: center;}
.section3 .center {width: 100%;height: auto; padding:50px 0; }
.section3 .slider_container {width: 100vw; height: 100%;position: relative; overflow: hidden; }
.section3 .slider_container .item { display: flex; justify-content: center; align-items: center; }

.section3 .slider_container .item .info_inner img { width: 100%; }
.section3 .slider_container .item .info_inner img:first-child { display: block; }
.section3 .slider_container .item .info_inner img:last-child { display: none; }
.section3 .slider_container .slider_wrap { /* top:50%; transform: translateY(-50%); */}

.section3 .slider_nav {width: 100%;max-width: 1440px;position: absolute;top: 45%;left: 50%;transform: translate(-50%,-50%); display: flex;justify-content: space-between;}
.section3 .slider_nav > div {width: 70px;height: 70px;border-radius: 50%;cursor: pointer; border: 2px solid #fff; transition:background .1s ease; } 
.section3 .slider_nav > .prev {background: url(../images/arrow_left.png) no-repeat 50% 50%;}
.section3 .slider_nav > .next {background: url(../images/arrow_right.png) no-repeat 50% 50%;}
/* .section3 .slider_nav > .next.ylw {background: #ffee62 url(../images/arrow_right_blue.png) no-repeat 50% 50%; border: 2px solid #ffee62;} */
.section3 .slider_nav > .prev:hover {background: #ffee62 url(../images/arrow_left_blue.png) no-repeat 50% 50%;border: 0; border: 2px solid #ffee62;}
.section3 .slider_nav > .next:hover {background: #ffee62 url(../images/arrow_right_blue.png) no-repeat 50% 50%;border: 0; border: 2px solid #ffee62;}

@media screen and (max-width:1280px){
	.section3 .fp-scrollable { height: 100%; }
}
@media screen and (max-width:767px){
	.section3 {height: 100vh;display: block;}
	.section3 .center {display: block;height: 100%; padding:0 0 50vw; }
	.section3 .slider_container {width: 100vw;height: 100%;box-sizing: border-box; overflow: visible;}
	.section3 .slider_container .slider_wrap { top:50px; transform: translateY(0);}
	.section3 .slider_container .item .info_inner img:first-child { display: none; }
	.section3 .slider_container .item .info_inner img:last-child { display: block; }
	
	.section3 .slider_nav { top: 0; bottom:auto; transform: translate(-50%,0); }
	.section3 .slider_nav > div {width: 40px;height: 40px; background-size: 20%; position: absolute; top:520px; border: 1px solid #fff; }
	.section3 .slider_nav > .prev { background-size: 25%; left:20px; }
	.section3 .slider_nav > .next { background-size: 25%; right:20px; }
	.section3 .slider_nav > .next.ylw {background-size: 25%; right:20px;}
	.section3 .slider_nav > .prev:hover { background-size: 25%; border: 1px solid #ffee62; }
	.section3 .slider_nav > .next:hover { background-size: 25%; border: 1px solid #ffee62; }
	
}


.section4 {background: #1cabe2;color: #fff;display: flex;align-items: center;position: relative;}
.section4 .inner {display: flex;flex-direction: column;align-items: center;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;}
.section4 .second_quote {font-size: 85px;font-weight: 300;-webkit-text-stroke: 3px #000;margin: 40px 0 30px;}
.section4 .second_quote .ylw {color: #ffee62;}
.section4 .third_quote {font-size: 35px; line-height:47px; text-align: center;}
.section4 .intro_quote { text-align: center; }
.section4 .intro_quote .quote2, 
.section4 .intro_quote i { display: inline-block; color: #fff; font-size: 40px; font-weight: 100; }
.section4 .intro_quote i { width: 4px; height: 35px; background-color: #fff; margin:auto 20px; transform: translateY(5px); }
.section4 .btn {box-sizing: border-box;width: 360px;height: 70px;line-height: 70px;font-size: 24px;font-weight: 100;color: #000;text-align: center;letter-spacing: -.6px;display: block;background: #ffee62;margin: 80px auto 0;}

@media screen and (max-width:767px){
	.section4 {padding: 0 20px;box-sizing: border-box;}
	.section4 .inner { margin-top: -30px; text-align: center;}
	.section4 .intro_quote { height:100px; }
    .section4 .intro_quote .quote2 { font-size: 25px; line-height: 1.3; display: inline; word-break: keep-all; }
    .section4 .intro_quote i { width: 2px; height: 17.5px; background-color: #fff; margin:auto 10.5px; transform: translateY(5px); position: absolute; }
	.section4 .second_quote {font-size: 42px;-webkit-text-stroke: 1.5px #000; margin:15px 0 25px;}
	.section4 .third_quote {font-size: 22px; line-height:1.4;font-weight: 100;}
	.section4 .btn {width: 300px;height: 55px;line-height: 56px;font-size: 19px; margin:25px auto 0; }

}

.section5 {background: linear-gradient(to bottom, #2589c9 73%, #fff 67.1%, #fff 100%);}
.section5 .center { display: flex; align-items: center; justify-content: center; height: 100%; padding: 50px 0; } 
.section5 .inner {position: relative;}
.section5 .s_tit {color: #fff;position: relative; /* padding-top: 40px; */}
.section5 .s_tit > span {font-size: 60px;font-weight: 300;}
.section5 .s_tit span > b {color: #ffdc0e;font-weight: 300;}
.section5 .s_txt { font-size: 24px; font-weight: 100; color:#fff; margin-top: 20px; } 

.section5 .slider_container {position: relative;margin-top: 48px;margin-bottom: 30px;}
.section5 .slider_wrap {width: 1090px;margin: 0 auto;}
.section5 .slider_wrap .slick-list {margin: 0 -15px;padding-bottom: 22px;}
.section5 .slider_wrap .slick-slide {margin: 0 7px;}

.section5 .slider_wrap .item {width: 366px;height: 486px;position: relative;box-sizing: border-box;}
.section5 .slider_wrap .item01 {background: url(../images/s5_card01.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item03 {background: url(../images/s5_card03.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item05 {background: url(../images/s5_card05.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item02 {background: url(../images/s5_card02.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item04 {background: url(../images/s5_card04.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item06 {background: url(../images/s5_card06.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item07 {background: url(../images/s5_card07.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item08 {background: url(../images/s5_card08.png) no-repeat 0 0;background-size: contain;}
.section5 .slider_wrap .item > .card_emot {position: absolute;top: 45px;left: 46px;}
.section5 .slider_wrap .item > .card_emot:last-of-type {display: none;}
.section5 .slider_wrap .item > .card_btn {display: block;width: 275px;height: 50px;position: absolute;bottom: 71px;left: 42px;box-sizing: border-box;}

.section5 .slider_nav {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: flex;max-width: 1440px;width: 100%;justify-content: space-between;}
.section5 .slider_nav > div {width: 70px;height: 70px;border-radius: 50%;background: transparent;border: 2px solid #fff;cursor: pointer;box-sizing: border-box; transition:background .1s ease;}
.section5 .slider_nav > .prev {background: url(../images/arrow_left.png) no-repeat 50% 50%;background-size: 15px 27px;}
.section5 .slider_nav > .next {background: url(../images/arrow_right.png) no-repeat 50% 50%;background-size: 15px 27px;}
.section5 .slider_nav > .prev.on, .section5 .slider_nav > .prev:hover {background: #ffee62 url(../images/arrow_left_blue.png) no-repeat 50% 50%; border: 0;}
.section5 .slider_nav > .next.on, .section5 .slider_nav > .next:hover {background: #ffee62 url(../images/arrow_right_blue.png) no-repeat 50% 50%; border: 0;}
.section5 .progress {
	display: block;
	width: calc(100% - 350px);
	height: 7px;
	overflow: hidden;
	margin: 38px auto 0;
	background-color: #f2f2f2;
	background-image: linear-gradient(to right, #bbb, #bbb);
	border-radius: 3.5px;
	background-repeat: no-repeat;
	background-size: 0 100%;
	transition: background-size .5s ease-in-out;
}
.section5 .sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}


@media screen and (max-width:1400px){
	.section5 {width: 100%;}
	.section5 .slider_nav {width: 100%;}

}

@media screen and (max-width:767px){
	.section5 { /* padding: 55px 20px 40px; */ box-sizing: border-box; background: linear-gradient(to bottom, #2589c9 467.5px, #fff 10px, #fff 100%);width: 100%;}
	.section5 .center { height: 100%; display: flex; justify-content: center;width: 100%; }
	.section5 .inner {box-sizing: border-box; padding: 0 20px; /* top:55px; */width: 100%; }
	.section5 .s_tit { color: #fff;position: relative; }
	.section5 .s_tit > span:first-of-type {font-size: 35px; letter-spacing: -1.25px;}
	.section5 .s_tit > span:last-of-type {font-size: 35px; }
	.section5 .s_txt { font-size: 15px; margin-top:21px; }

	.section5 .slider_container {width: 100%;overflow: hidden;margin: 23px auto 27px;}
	.section5 .slider_wrap {width: 244px;}
	.section5 .slider_wrap .slick-list {margin: 0;padding-bottom: 0;}
	.section5 .slider_wrap .slick-slide {margin: 0;}
	
	.section5 .slider_wrap .item {width: 244px;height: 327px;}
	.section5 .slider_wrap .item01 {background: url(../images/s5_card01_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item03 {background: url(../images/s5_card03_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item05 {background: url(../images/s5_card05_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item02 {background: url(../images/s5_card02_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item04 {background: url(../images/s5_card04_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item06 {background: url(../images/s5_card06_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item07 {background: url(../images/s5_card07_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item08 {background: url(../images/s5_card08_m.png) no-repeat 0 0;background-size: contain;}
	.section5 .slider_wrap .item > .card_emot {top: 35px;left: 50%;transform: translateX(-50%);}
	.section5 .slider_wrap .item > .card_emot:first-of-type {display: none;}
	.section5 .slider_wrap .item > .card_emot:last-of-type {display: block;width: 180px;}
	.section5 .slider_wrap .item > .card_btn {width: 200px;height: 45px;bottom: 40px;left: 20px;}



	.section5 .progress {display: none;}

	.section5 .slider_nav > div {width: 40px;height: 40px;border: 1px solid #fff;}
	.section5 .slider_nav > .prev {background: url(../images/arrow_left.png) no-repeat 50% 50%;background-size: 10px 18px;}
	.section5 .slider_nav > .next {background: url(../images/arrow_right.png) no-repeat 50% 50%;background-size: 10px 18px;}
	.section5 .slider_nav > .prev.on, .section5 .slider_nav > .prev:hover {background: #ffee62 url(../images/arrow_left_blue.png) no-repeat 50% 50%;border: 0;background-size: 10px 18px;}
	.section5 .slider_nav > .next.on, .section5 .slider_nav > .next:hover {background: #ffee62 url(../images/arrow_right_blue.png) no-repeat 50% 50%;border: 0;background-size: 10px 18px;}

	.section5 .btn_pdf {font-size: 12px; }

}

.sec_emot {width: 100%;box-sizing: border-box;background: #2589c9;}
.sec_emot .center {height: 100vh;display: flex; align-items:center; justify-content: center;}
.sec_emot .center .inner {position: relative;max-width: 1300px;width: 100%; }
.sec_emot .s_tit > span {font-size: 60px;font-weight: 300;color: #fff;}
.sec_emot .s_tit > span > b {font-weight: 300;color: #ffdc0e;}
.sec_emot .cont {width: 100%;padding: 25px 0;box-sizing: border-box;background: #fff;border-radius: 20px;margin-top: 60px;}
.sec_emot .cont ul {display: flex;flex-wrap: wrap;justify-content: center;}
.sec_emot .cont ul li {cursor: pointer;}
.sec_emot .cont ul li > img:last-of-type {display: none;}

@media screen and (max-width:767px){ 
	.sec_emot .center .inner {width: 100%;}
	.sec_emot .s_tit > span {font-size: 35px;}
	.sec_emot .cont {padding: 25px 0;border-radius: 0;width: calc(100% - 75px);margin: 35px auto 15px;}
	.sec_emot .cont ul li > img:first-of-type {display: none;}
	.sec_emot .cont ul li > img:last-of-type {display: block;width: 63px;}

}

.section6 {width: 100%;box-sizing: border-box;background: #2589c9;}
.section6 .center {height: 100vh;display: flex; align-items:center; justify-content: center;}
.section6 .center .inner {position: relative;max-width: 1000px;width: 100%; }
.section6 .emoticon {width: 373px;height: 212px; position: absolute;top: 110px;left: 50%;transform: translateX(-50%);}
.section6 .emoticon .heart {position: absolute;top: 0;left: 0;width: 373px;height: 81px;}
.section6 .emoticon .heart > img:nth-of-type(1) {position: absolute;top: 15px;left: 30px;animation: s6heart01 1.5s ease-out infinite;}
.section6 .emoticon .heart > img:nth-of-type(2) {position: absolute;top: 66px;left: 0;animation: s6heart02 1.5s ease-out infinite;}
.section6 .emoticon .heart > img:nth-of-type(3) {position: absolute;top: 56px;right: 0;animation: s6heart03 1.5s ease-out infinite;}

@keyframes s6heart01 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(10px, 15px); }
    to   { transform: translate(0, -0px); } 
}
@keyframes s6heart02 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
@keyframes s6heart03 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(-10px, 15px); }
    to   { transform: translate(0, -0px); }    
}

.section6 .emoticon_hands {position: absolute;top: 182px;left: 50%;transform: translateX(-50%);z-index: 10;}
.section6 .emoticon > img:last-of-type,
.section6 .emoticon_hands > img:last-of-type {display: none;}
.section6 b {font-weight: 300;}
.section6 .s_tit span {font-size: 60px;font-weight: 300; letter-spacing: -.25px;color: #fff;}

.section6 .cont {position: relative;width: 100%;height: auto;background: #fff;border: 3px solid #000;border-radius: 30px;padding: 80px 80px 48px 80px; box-sizing: border-box;margin-top: 170px; box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);}
.section6 .cont > div {display: flex;}
.section6 .cont > div:first-child {margin-bottom: 39px;}
.section6 .cont_tit {flex-shrink: 0; font-size: 20px;color: #2589c9;font-weight: 300;margin-right: 30px; text-align: left;letter-spacing: -.5px;}
.section6 .cont_tit:before {content:url(../images/s7_heart.png);}
.section6 .cont ul {display: flex;justify-content: space-between;}
.section6 .cont ul li:first-child {margin-right: 100px;}
.section6 .cont ul li .top {display: flex;text-align: left;align-items: center;}
.section6 .cont ul li .top .icon {margin-right: 27px;}
.section6 .cont ul li .top .icon img:last-of-type {display: none;}
.section6 .cont ul li .top .num {font-size: 20px;font-family: 'Poppins';font-weight: 700;color: #2589c9;margin: 8px 0;}
.section6 .cont ul li .top  p {font-size: 16px;font-weight: 100;}
.section6 .cont ul li > p {font-family: 'Noto Sans KR';font-weight: 200; font-size: 13px;color: #858585;text-align: left;letter-spacing: -.625px;margin-top: 15px;}
.section6 .cont ul li > p.bot > b {font-weight: bold;}
.section6 .small {font-size: 14px;color: #fff;font-family: 'Noto Sans KR';font-weight: 200;text-align: left;margin-left: 48px;margin-top: 25px;margin-right: auto;}


@media screen and (max-width:767px){ 
	/* .section6 {height: 777px;} */
	.section6 .center {height: 777px;overflow-y: auto;}
	.section6 .center .inner {padding: 60px 20px 100px;box-sizing: border-box;width: 100%;}
	/* .section6 .s_tit {margin-top: 60px;} */
	.section6 .s_tit > span {font-size: 35px;}
	.section6 .emoticon {width: 123px;height: 159px;top: 126px;}
	.section6 .emoticon_hands {position: absolute;top: 182px;left: 50%;transform: translateX(-50%);z-index: 10;}
	.section6 .emoticon > img:first-of-type,
	.section6 .emoticon_hands > img:first-of-type {display: none;}
	.section6 .emoticon > img:last-of-type {display: block;width: 123px;}
	.section6 .emoticon_hands > img:last-of-type {display: block;width: 136px;}

	.section6 .emoticon .heart {position: absolute;top: 0;left:-70px;width: 249px;height: 58px;}
	.section6 .emoticon .heart > img:nth-of-type(1) {width: 25px; position: absolute;top: 5px;left: 30px;animation: s6heart01 1.5s ease-out infinite;}
	.section6 .emoticon .heart > img:nth-of-type(2) {width: 22px; position: absolute;top: 56px;left: 0;animation: s6heart02 1.5s ease-out infinite;}
	.section6 .emoticon .heart > img:nth-of-type(3) {width: 31px; position: absolute;top: 46px;right: 0;animation: s6heart03 1.5s ease-out infinite;}
	

	.section6 .cont {border: 1.5px solid #000;border-radius: 15px;padding: 45px 25px;margin-top: 120px; box-shadow: 3px 3.5px 5px 0px rgba(0, 0, 0, 0.18);}
	.section6 .cont > div {display: flex;}
	.section6 .cont > div:first-child {margin-bottom: 25px;}
	.section6 .cont > div:last-child {display: block;}
	.section6 .cont_tit {font-size: 16px;margin-right: 20px;}
	.section6 .cont_txt {font-size: 14px;}

	.section6 .cont ul {flex-direction: column;margin-top: 20px;}
	.section6 .cont ul li:first-child {margin-right: 0;margin-bottom: 18px;}
	.section6 .cont ul li .top .icon img:first-of-type {display: none;}
	.section6 .cont ul li .top .icon img:last-of-type {display: block;width: 68px;}
	.section6 .cont ul li .top .num {font-size: 15px;margin: 8px 0;}
	.section6 .cont ul li .top  p {font-size: 14px;}
	.section6 .cont ul li > p {font-size: 10px;margin-top: 15px;}




}

.section7 { background: url(../images/s6_bg.png);}
.section7 .center {display: flex;flex-direction: column; align-items: center;justify-content: center;height: 100%; padding:50px 0 0;}
.section7 .inner {width: 100%;max-width: 1200px;box-sizing: border-box; }
.section7 h1.s_tit {font-size: 60px;font-weight: 300;color: #2589c9;margin-bottom: 27px;}
.section7 p.s_txt {font-size: 24px;font-weight: 100;}
.section7 p.s_txt > span {font-size: 18px;color: #555;}

.section7 .cont {display: flex;justify-content: space-between; box-sizing: border-box;width: 100%;height: 480px;margin-top: 187px; margin-bottom:50px; padding: 62px 97px 70px 62px; border: 3px solid #000;background: #fff;border-radius: 20px;position: relative;box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.18);}
.section7 .cont .character {position: absolute;left: 50%;transform: translateX(-50%);top: -142px;}
.section7 .cont .character > img:last-of-type {display: none;}
.section7 .cont .character > .heart {width: 350px;height: 75px;position: absolute;top: 40px;left: 50%;transform: translateX(-50%);}
.section7 .cont .character > .heart > img:first-of-type {position: absolute;left: 27px;top: 0;animation: s7heart01 1.5s ease-out infinite;}
.section7 .cont .character > .heart > img:nth-of-type(2) {position: absolute;left: 0;top: 40px;animation: s7heart02 1.5s ease-out infinite;}
.section7 .cont .character > .heart > img:nth-of-type(3) {position: absolute;right: 0;top: 2px;animation: s7heart03 1.5s ease-out infinite;}
.section7 .cont .character > .heart > img:nth-of-type(4) {position: absolute;right: 21px;top: 48px;animation: s7heart02 1.5s ease-out infinite;}

@keyframes s7heart01 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(10px, 15px); }
    to   { transform: translate(0, -0px); } 
}
@keyframes s7heart02 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(5px, 15px); }
    to   { transform: translate(0, -0px); }    
}
@keyframes s7heart03 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(-10px, 15px); }
    to   { transform: translate(0, -0px); }    
}

.section7 .cont .cont_tit {text-align: center;font-size: 24px;font-weight: 300;color: #2589c9;letter-spacing: -.55px;}
.section7 .cont .cont_tit:before,
.section7 .cont .cont_tit:after {content: url(../images/s7_heart.png);}
.section7 .cont .cont_tit:before {margin-right: 14px; }
.section7 .cont .cont_tit:after {margin-left: 14px;}
.section7 .cont .left {}
.section7 .cont .left .bot {display: flex;margin-top: 30px;position: relative;}
.section7 .cont .left .bot:after {content:'';display: block;width: 1px;height: 100%;border-left: 1px dashed #9d9d9d;position: absolute;top: 0;right: 0;}
.section7 .cont .left .bot .gift > img {width: 100%;object-fit: contain;}
.section7 .cont .left .bot .gift > img:last-of-type {display: none;}
.section7 .cont .left .bot .gift_cont {text-align: left;margin-left: 40px;margin-right: 60px;}
.section7 .cont .gift_cont .gift_tit {display: flex;align-items: center; margin-top: 10px;}
.section7 .cont .gift_cont .gift_tit > span {font-size: 20px;font-weight: 300;color: #2589c9;margin-right: 6px;}
.section7 .cont .left .bot .gift_cont .gift_txt {font-size: 15px;font-weight: 200;color: #858585;font-family: 'Noto Sans KR';}
.section7 .cont .gift_cont .s7_btn {display: block; width: 266px;height: 50px;margin-top: 22px; background: #2589c9;color: #fff;font-size: 16px;font-weight: 300;line-height: 51px;text-align: center;box-sizing: border-box;}
.section7 .cont .gift_cont .s7_btn > img {vertical-align: middle;margin-left: 12px;}
.section7 .cont .right {text-align: center;}
.section7 .cont .right .gift {margin: 35px 0 10px;}
.section7 .cont .right .gift_cont .gift_tit {justify-content: center;}

@media screen and (max-width:1440px){
	.section7 .center {padding: 50px 0 80px;}
}
@media screen and (max-width:767px){
	/* .section7.section-tb {min-height: 1190px;height: fit-content!important;} */
	.section7 {height: 1170px;box-sizing: border-box; /* padding: 65px 20px 57px; */}
	.section7 .center {height: auto; padding:0;}
	.section7 .inner {padding: 0 20px 65px;}
	.section7 h1.s_tit {font-size: 35px;margin-top: 60px; margin-bottom: 20px;letter-spacing: -1.8px;}
	.section7 p.s_txt {font-size: 15px;letter-spacing: -.875px; line-height: 1.3;}
	.section7 p.s_txt > span {font-size: 13px;}
	.section7 .cont .character {top: -98px;}
	.section7 .cont .character > img:first-of-type {display: none;}
	.section7 .cont .character > img:last-of-type {display: block;width: 130px;}

	.section7 .cont .character > .heart {width: 242px;height: 65px;top: 15px;}
	.section7 .cont .character > .heart > img:first-of-type {width: 16px; left: 22px;top: 0;animation: s7heart01 1.5s ease-out infinite;}
	.section7 .cont .character > .heart > img:nth-of-type(2) {width: 25px; left: 0;top: 33px;animation: s7heart02 1.5s ease-out infinite;}
	.section7 .cont .character > .heart > img:nth-of-type(3) {width: 20px; right: 0;top: 4px;animation: s7heart03 1.5s ease-out infinite;}
	.section7 .cont .character > .heart > img:nth-of-type(4) {width: 25px; right: 18px;top: 42px;animation: s7heart02 1.5s ease-out infinite;}
	
	.section7 .cont {padding: 50px 35px 0;height: auto;margin-top: 125px;width: 100%;flex-direction: column;}
	.section7 .cont .cont_tit {font-size: 17px;}
	.section7 .cont .left .bot {flex-direction: column;margin-top: 17px;padding-bottom: 50px;}
	.section7 .cont .left .bot:after {border-bottom: 1px dashed #9d9d9d;width: 100%;height: 1px;border-left: 0;top: auto;bottom: 0;}
	/* .section7 .cont .left .bot .gift {margin-bottom: 9px;width: 100%;} */
	.section7 .cont .left .bot .gift > img:first-of-type {display: none;}
	.section7 .cont .left .bot .gift > img:last-of-type {display: inline-block;width: 100%;max-width: 260px;}
	.section7 .cont .left .bot .gift_cont {text-align: center;margin-left: 0;margin-right: 0;}
	.section7 .cont .gift_cont .gift_tit {display: block;}
	.section7 .cont .gift_cont .gift_tit > span {vertical-align: middle;}
	.section7 .cont .gift_cont .gift_tit > img {vertical-align: middle;width: 24px;}
	.section7 .cont .gift_cont .gift_tit > span {font-size: 15px;margin-right: 6px;}
	.section7 .cont .left .bot .gift_cont .gift_txt {font-size: 13px;}
	.section7 .cont .gift_cont .s7_btn {width: 100%;height: 45px;margin-top: 35px;font-size: 15px;line-height: 46px;}
	.section7 .cont .left .gift_cont .s7_btn > img {}
	.section7 .cont .right {padding: 30px 0 50px;}
	.section7 .cont .right .gift {margin: 18px 0 14px;}
	.section7 .cont .right .gift > img {width: 115px;}


	
}


.section8 {width: 100%;height: 100vh; box-sizing: border-box;background: #fff;}
.section8 .center { display: flex; justify-content: center; align-items: center; height: 100vh; }
.section8 .inner {max-width: 1440px; width:100%; margin: 0 auto;}
.section8 .inner h1.s_tit {font-size: 60px;font-weight: 300; color: #2589c9;text-align: center;}
.section8 .inner .faq_tab {display: flex;width: 358px;height: 54px;margin: 30px auto 58px;}
.section8 .inner .faq_tab li {flex:1; font-size: 24px;color: #2589c9;font-weight: 300;line-height: 54px;text-align: center;border: 2px solid #2589c9;cursor: pointer;}
.section8 .inner .faq_tab li:last-child {margin-left: -2px;}
.section8 .inner .faq_tab li.on {background: #2589c9;color: #fff;}
.section8 .inner .content {padding: 0 120px;}
.section8 .inner .content .faq_cont {display: none;}
.section8 .inner .content .faq_cont.on {display: block;}
.section8 .inner .content .faq_cont > div {text-align: left;}
.section8 .inner .content .faq_cont > div > span {font-size: 24px;font-weight: 300;color: #1cabe2;margin-left: 27px;margin-right: 20px;}
.section8 .inner .content .faq_cont > div > p {font-weight: 100; color: #000;text-align: left;}
.section8 .inner .content .que { border-bottom: 2px solid #e5e5e5;padding: 30px 0;cursor: pointer;}
.section8 .inner .content .que p {font-size: 24px;}
.section8 .inner .content .que p:before {content:'Q.';display: inline-block;font-size: 24px;font-weight: 300;color: #2589c9;margin-left: 27px;margin-right: 20px;margin-top: -2px;}
.section8 .inner .content .ans {display: none;overflow: hidden; padding: 40px 0 50px;background: #e5e5e5;}
.section8 .inner .content .ans p {font-size: 20px;display: flex;word-break: keep-all;}
.section8 .inner .content .ans p:before {content:'A.';display: block;font-size: 24px;font-weight: 300;color: #2589c9;margin-left: 27px;margin-right: 20px;margin-top: -2px;}

@media screen and (max-width:767px){
	.section8 {width: 100%;padding-top: 0px;}
	.section8 .center { align-items: baseline; }
	.section8 .inner{max-width: 100%;padding: 0 20px;}
	.section8 .inner h1.s_tit {font-size: 35px; padding-top: 43px;}
	.section8 .inner .faq_tab {width: 100%;height: 40px;margin: 27px 0 42px;}
	.section8 .inner .faq_tab li {font-size: 18px;line-height: 40px;border: 1px solid #1cabe2;}
	.section8 .inner .content {padding: 0;}
	.section8 .inner .content .que {padding: 18px 0;}
	.section8 .inner .content .que p {font-size: 17px;letter-spacing: -.85px; padding-left: 45px; line-height: 1.3;}
	.section8 .inner .content .que p:before {font-size: 17px;margin-left: 0px;margin-right: 10px; position: absolute; left: 11px;}
	.section8 .inner .content .ans {padding: 19px 15px 45px 0;}
	.section8 .inner .content .ans p {font-size: 15px; line-height: 1.5;}
	.section8 .inner .content .ans p:before {font-size: 17px;margin-left: 11px;margin-right: 10px;}
}

.footer {width: 100%;background: #1f1f1f;text-align: center;padding: 75px 0 154px;box-sizing: border-box;}
.footer .f_logo {margin: 23px 0 30px;}
.footer .f_logo img:last-of-type {display: none;}
.footer p {font-family: 'Noto Sans KR';font-weight: 200; color: #fff;font-size: 14px;opacity: .5;}
.footer p:nth-of-type(2) {opacity: 1;margin-bottom: 10px;}

@media screen and (max-width:767px){
	.footer {padding-top: 40px;padding-left: 20px;padding-right: 20px;padding-bottom: 223px; box-sizing: border-box;}
	.footer .f_logo {margin: 25px auto 18px;}
	.footer .f_logo img:first-of-type {display: none;}
	.footer .f_logo img:last-of-type {display: block;width: 220px;margin: 0 auto;}
	.footer p {font-family: 'Noto Sans KR';font-weight: 200; color: #fff;font-size: 12px;opacity: .5;}
	.footer p:nth-of-type(1) {font-size: 13px;}
	.footer p:nth-of-type(2) {opacity: 1;margin-bottom: 17px;}
}


/* ----------------- ani ---------------- */
.section0.active .second_quote {animation:fadeUp 0.8s .6s both}
.section0.active .third_quote p:first-of-type {animation:fadeUp 0.8s .9s both}
.section0.active .third_quote p:last-of-type span:nth-child(1) {animation:zoomIn 0.8s 1.2s both}
.section0.active .third_quote p:last-of-type span:nth-child(2) {animation:zoomIn 0.8s 1.5s both}
.section0.active .third_quote p:last-of-type span:nth-child(3) {animation:zoomIn 0.8s 1.8s both}
.section0.active .section_wrap .scene0 .fourth_quote p:first-of-type { animation:fadeUp 0.8s 2.4s both }
.section0.active .section_wrap .scene0 .fourth_quote p:last-of-type { animation:fadeUp 0.8s 2.7s both }

.section3.active .slider_container {animation:fadeUp 0.8s .3s both}

.section4.active .intro_quote {animation:fadeUp 0.8s .3s both}
.section4.active .second_quote {animation:fadeUp 0.8s .6s both}
.section4.active .third_quote {animation:fadeUp 0.8s .9s both}

.section5.active h1.s_tit {animation:fadeUp 0.8s .3s both}
.section5.active .s_txt {animation:fadeUp 0.8s .6s both}
.section5.active .slider_container {animation:fadeUp 0.8s .9s both}
.section5.active .gosim_bottom {animation:fadeUp 0.8s 1.2s both}

.section6.active .s_tag {animation:fadeUp 0.8s .3s both}
.section6.active .s_tit {animation:fadeUp 0.8s .6s both}
.section6.active .cont {animation:fadeUp 0.8s .9s both}
.section6.active .small {animation:fadeUp 0.8s 1.2s both}

.section7.active .s_tit {animation:fadeUp 0.8s .3s both}
.section7.active .s_txt {animation:fadeUp 0.8s .6s both}
.section7.active .cont {animation:fadeUp 0.8s .9s both}

.section8.active .s_tit {animation:fadeUp 0.8s .3s both}
.section8.active .faq_tab {animation:fadeUp 0.8s .6s both}
.section8.active .content {animation:fadeUp 0.8s .9s both}





@keyframes fadeUp{
	0%{transform:translateY(80px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes zoomIn{
	0%{transform:scale(0); opacity: 0;}
	100%{transform:scale(1); opacity: 1;}
}